{% extends 'base.html.twig' %}



{% block sidebar %}
        <div class="col-2" id="sidebar">
            <h3>
                Tags
            </h3>
                
            {% for tag in tags %}
                <div class="container">
                    <button type="button" class="btn btn-outline-warning">{{ tag.name }}</button>
                </div>
            {% endfor %}
        </div>
{% endblock %}

{% block body %}
    <div>
        {% for question in questions %}
        <div class=" text-white bg-dark mb-3" style="margin: 1rem auto; max-width: 80%;">
            <div class="card-header"><h4 class="card-title">{{ question.title }}</h4></div>
            <div class="card-body">
                <p class="card-text">{{ question.user.firstname }} {{ question.user.lastname }}</p>
                <p class="card-text">{{ question.content }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
