{% extends 'base.html.twig' %}



{% block sidebar %}
        <div class="col-2" id="sidebar">
            <h3>
                Tags
            </h3>
                
            {% for tag in tags %}
                <div class="container pt-2">
                    <a href="{{ path("questions_tag", {"name": tag.name }) }}">
                        <button type="button" class="btn btn-light">{{ tag.name }}</button>
                    </a>
                </div>
            {% endfor %}
        </div>
{% endblock %}


{% block body %}
    <div>
        {% for question in questions %}
            
            {% if question.status %}
           
                <div class=" text-white bg-secondary mb-3 question--list" style="margin: 1rem auto; max-width: 80%;">
                    <div class="d-flex justify-content-center">

                        {######## tags above questions in questions list #########}
                        {% for tag in question.tags %}
                            <button type="button" class="btn btn-info question--tags">{{ tag.name }}</button>
                        {% endfor %}

                    </div>
                    <div class="card-header  d-flex justify-content-between">
                        <a href="{{ path('question_show', {'id': question.id }) }}"><h4 class="card-title">{{ question.title }}</h4></a>
                        <span>{{ question.updatedAt|date("d/m/Y H:i", "Europe/Paris") }}</span>
                    </div>
                    
                    <div class="card-body">
                        <p class="card-text">{{ question.user.firstname }} {{ question.user.lastname }}</p>
                        <p class="card-text">{{ question.content }}</p>

                        {% if is_granted('ROLE_MODERATOR') %}
                            <div class="d-flex justify-content-end">
                                <a href="{{ path('backend_question_toggle', {'id': question.id}) }}">
                                    <button type="button" class="btn btn-danger button--toggle">Bloquer</button>
                                </a>
                            </div>
                        {% endif %}
                        <a href="{{ path('question_like', {'id': question.id}) }}"><button class="d-flex justify-content-end">{{ question.nblikes }} votes</button></a>
                    </div>
                </div>
                {% endif %}

        {####### moderator can see blocked questions ########}
        {% if question.status == "0" and is_granted('ROLE_MODERATOR') %}

                        <div class=" text-white  mb-3 moderator" style="margin: 1rem auto; max-width: 80%;">
                            <div class="d-flex justify-content-center">

                                {########### tags above questions in questions list #######}
                                {% for tag in question.tags %}
                                    <button type="button" class="btn btn-danger question--tags">{{ tag.name }}</button>
                                {% endfor %}

                            </div>
                            <div class="card-header  d-flex justify-content-between">
                                <a href="{{ path('question_show', {'id': question.id }) }}">
                                    <h4 class="card-title">{{ question.title }}</h4>
                                </a>
                                <span>{{ question.updatedAt|date("d/m/Y H:i", "Europe/Paris") }}</span>
                                <div>
                                    <a href="{{ path('backend_question_toggle', {'id': question.id}) }}">
                                        <button type="button" class="btn btn-danger button--toggle">Débloquer</button>
                                    </a>
                                </div>
                            </div>
                        </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
