{% extends 'base.html.twig' %}


{% block body %}

<h1> <div class="container pt-2">
        <button type="button" class="btn btn-info">{{ tag.name }}</button>
    </div></h1>
{% for question in tag.questions %}
           
                <div class=" text-white bg-secondary mb-3" style="margin: 1rem auto; max-width: 80%;">
                    <div class="d-flex justify-content-center">
                        {% for tag in question.tags %}
                            <button type="button" class="btn btn-info question--tags">{{ tag.name }}</button>
                        {% endfor %}
                    </div>
                    <div class="card-header  d-flex justify-content-between">
                         <a href="{{ path('question_show', {'id': question.id }) }}"><h4 class="card-title">{{ question.title }}</h4></a>
                        <span>{{ question.updatedAt|date("d/m/Y H:i", "Europe/Paris") }}</span>
                    </div>
                    
                    <div class="card-body">
                        <p class="card-text">{{ question.user.firstname }} {{ question.user.lastname }}</p>
                        <p class="card-text">{{ question.content }}</p>
                        <a href="{{ path('question_like', {'id': question.id, 'route': tag.name }) }}">
                            <button class="d-flex justify-content-end">{{ question.nblikes }} votes</button>
                        </a>
                    </div>
                </div>
            
        {% endfor %}

{% endblock  %}