<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}FAQ-O-Clock !{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% endblock %}
    </head>
    <body>
        <header>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <a class="navbar-brand" href="{{ path('question_list')}}">Home</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                      
                        <div class="collapse navbar-collapse" id="navbarColor02">
                          <ul class="navbar-nav mr-auto">
                          
                            <li class="nav-item">
                              <a class="nav-link" href="{{ path('signup') }}">Inscription</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{{ path('login') }}">Connexion</a>
                            </li>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li class="nav-item">
                                  <a class="nav-link" href="{{ path('profile_show') }}">Profil</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="{{ path('question_ask')}}">Poser une question</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="{{ path('logout')}}">Déconnexion</a>
                                </li>

                            {% endif %}
                          </ul>
                           {% if is_granted('ROLE_MODERATOR') %}
                           <ul>
                           <li class="nav-item">
                              <a class="nav-link" href="{{ path('backend_tag_list')}}">Tags</a>
                            </li>
                          </ul>
                           {% endif %}
                        </div>
                      </nav>
        </header>

        <div class="container-fluid pt-4">
                <div class="row">
    
                   {% block sidebar %}{% endblock %}
    
                    <div class="col-10">
                        
                        {# {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}">
                                    {{ message }}
                                </div>
                            {% endfor %} #}
                        {# {% endfor %} #}
    
                        {% block body %}{% endblock %}
    
                    </div>
                </div>
            </div>
    
    </body>
</html>
